nav {
  padding: 25px;
  background-color: #2980b9;
}

nav h1 {
  font-size: 60px;
  color: #fff;
  font-family: 'Patua One', cursive;
  font-weight: 700;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1.5px 1px #535c68;
  padding-top: 8px;
}

nav h2 {
  font-size: 13px;
  color: #fff;
  font-family: 'Patua One', cursive;
  font-weight: 400;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px #535c68;
  padding-top: 8px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #ecf0f1;
  background: fixed;
  padding-top: 45px;
}

.main-p-1 {
  font-size: 25px;
  color: #566573;
  font-family: 'Patua One', cursive;
  font-weight: 100;
  width: 850px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.main-p-2 {
  font-size: 20px;
  color: 	#5D6D7E;
  font-family: 'Patua One', cursive;
  font-weight: 400;
  width: 400px;
  text-align: center;
  padding-top: 25px;
}

.chart-container {
  width: 45vw;
  height: 45vh;
  margin: 20px 0;
}

.chart {
  width: 100%;
  height: 100%;
}

.comparison-chart-container {
  width: 80vw;
  height: 90vh;
  margin: 30px auto;
}

.cities {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 650px;
}

.city {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 750px;
}

.city select {
  height: 45px;
  width: 325px;
  margin: 15px auto;
  padding: 5px;
  border: 1px solid #ecf0f1;
  border-radius: 0px;
  border-style: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  background-color: #4bcffa;
}

.summary p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-align: center;
}

.comparison {
  width: 100%;
  background-color: #EAEDED;
  padding-bottom: 20px;
}

footer {
  height: 75px;
  background-color: #2980b9;
}

footer .links {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
}

footer a {
  color: #fff;
  font-size: 40px;
  padding: 0 5px;
  cursor: pointer;
}
